.header {
    border-bottom: solid 1px var(--color-grey);
}

.container-header {
    display: flex;
    align-items: center;
}

.container-header__nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.container-header__contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
    align-items: center;
}