.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-benefits {
    display: flex;
    gap: 30px;
}

.container-whatwedo {
    display: flex;
    gap: 30px;
}

.container-our-team {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.container-buttons {
    gap: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container-example-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.container-example-card-descr {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}