.socials {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--social-links-grey);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
        color: var(--tertiary-color);
        background-color: var(--accent-color);
    }
}

.social-links__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--tertiary-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color, border-radius, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        border-radius: 50%;
        fill: var(--tertiary-color);
    }
}